<section class="contact-section">
  <div class="container">
    <div class="contact-content">
      <h2>Contact Me</h2>
      <p>If you'd like to get in touch, feel free to reach out via any of the methods below:</p>

      <!-- Contact Information -->
      <div class="contact-info">
        <p><strong>Email:</strong> <a href="mailto:mattbrooks2010&#64;gmail.com"> mattbrooks2010&#64;gmail.com</a></p>
        <p><strong>Phone:</strong> (573) 450-6496</p>
        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/matt-brooks-/" target="_blank"> View my LinkedIn profile</a></p>
        <p><strong>GitHub:</strong> <a href="https://github.com/MattBrooks7" target="_blank"> Check out my GitHub projects</a></p>

      </div>
    </div>
  </div>
</section>
